/*

1. TYPOGRAPHY
-----------------

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Font Weight (Default) : 400
500
600
700


2. COLORS
-----------

- Primary Color : #e67e22
- Tint : #fdf2e9
- Shade : #cf711f
#555
#333


5. SHADOWS
-------------


4. BORDER RADIUS
------------------
15px or 1.5rem


5. WHITESPACES
-----------------

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*  10px/16px = 0.625 => 62.5% , This indicates now 1rem will be 10px  */
  font-size: 62.5%; /*  % indicate the font size changes according to browser font settings */
  font-family: "Rubik", sans-serif;
}

body {
  width: 100vw;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* Reusable Grid */
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* For centering container */
.container {
  max-width: 120rem; /* 120rem is a standard */
  margin: 0 auto;
  padding: 0 3.2rem;
}

.align-center {
  align-items: center;
}
