/* 1366px - HD Ready screens */

/* Note:- rem and em units don't depend on html font-size
ie, even if in html tag 1rem = 10px, in media queries 1rem will be
always be equal to default browser font-size. ie 16px
*/

/* 85rem = 1360px */
@media screen and (max-width: 85rem) {
  .hero {
    max-width: 120rem;
  }

  .hero-heading {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.8rem;
  }

  .gallery-item {
    width: 75%;
  }

  .gallery-item:nth-child(odd) {
    justify-self: end;
  }
}

/* Here when we are on 1200px or 75rem screen the entire rem units
gets changed from 10px to 9px */
/* 9px/16px = 0.5652 = 56.52% */
@media screen and (max-width: 75rem) {
  html {
    font-size: 56.25%; /* 9px */
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
}

@media screen and (max-width: 69rem) {
  .hero {
    gap: 3.6rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .testimonial-container {
    padding: 3.2rem;
  }

  .pricing-plan {
    padding: 4.6rem 2.4rem 3.6rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 1.6rem 2.4rem;
  }

  .logos > img {
    height: 2.8rem;
  }

  .main-nav-items {
    gap: 3.2rem;
  }
}

/* Tablet screen */
/* 58rem = 928px and I choose this breakpoint because our design breaks here */
@media screen and (max-width: 58rem) {
  html {
    font-size: 50%; /* now 1rem = 8px */
  }

  .section-hero {
    padding: 4.8rem 0 8rem;
  }

  .hero {
    /* changing hero section to 1 column layout */
    grid-template-columns: 1fr;
    gap: 2.4rem;
    padding: 0 6.4rem;
  }

  .hero-text {
    text-align: center;
  }

  .delivered-meals {
    margin: 4rem 0 4rem;
    justify-content: center;
  }

  .hero-img {
    display: flex;
    justify-content: center;
  }

  .hero-img > img {
    width: 60%;
  }

  .logos > img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meals-content {
    padding: 2.4rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .testimonial-container {
    padding: 4.8rem;
  }

  .testimonials {
    column-gap: 6.4rem;
  }

  .testimonial-container .heading-secondary {
    margin-bottom: 6.4rem;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    padding: 4.8rem;
  }

  .gallery-item {
    width: 100%;
  }

  .pricing-plan {
    width: 80%;
  }

  .cta {
    grid-template-columns: 3fr 2.5fr;
  }

  .cta-text-box {
    padding: 4.8rem 3.2rem 6.4rem;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }
}
